body {
  display: flex;
  flex-direction: column;
  margin: 0; /* Remove default margin */
  font-family: "Arial", sans-serif;
  background-color: rgb(238, 234, 230);
}

h1 {
  text-align: center;
  margin: 0px;
  padding: 32px;
}

.main-page {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Viewport height */
  justify-content: space-between;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(222, 214, 206);
  padding: 10px;
  padding-top: 200px;
}

.sketcher {
  background-color: #ffffff;
  width: 600px;
  height: 600px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.button-settings {
  margin-top: 25px;
  border-width: 3px;
  border-radius: 5px;
  width: 180px;
  height: 40px;
  cursor: pointer;
  background-color: rgb(222, 214, 206);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.scrollbar-all {
  margin-top: 50px;
}
.main-body {
}
.light-and_dark {
  justify-content: end;
  align-items: end;
}
.custom-color {
  background-color: rgb(47, 45, 45);
  color: #ffffff;
}

#color-change {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 70px; /* Set your desired width */
  height: 70px; /* Set your desired height */
  min-width: 70px; /* Set a minimum width */
  min-height: 70px; /* Set a minimum height */
  border: none;
  padding: 0px;
  background-color: rgb(222, 214, 206);
  cursor: pointer;
}

#color-change::-webkit-color-swatch {
  border-radius: 50%;
}

#color-change::-webkit-color-swatch {
  border-radius: 50%;
}
#scrollbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100px;
  height: 15px;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  background: rgb(47, 45, 45);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
#scrollbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #1e6ce8;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #333;
  box-shadow: -407px 0 0 400px #1e6ce8;
}
.scrollbar-settings {
  flex-direction: row;
  align-items: center; /* Optional: Align items vertically in the center */
}

#scrollbar-number {
  width: 55px; /* Adjust the width as needed */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

  margin-left: 5px; /* Add some margin for spacing */
}

.light-and_dark {
  margin: 32px;
  width: 100px;
  height: 50px;
  border-radius: 40px;
  background-color: rgb(47, 45, 45);
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
